.btnLogin {
    width: 130px;
    height: 55px;
    text-align: center;
    align-self: center;
    padding: 15px 5px;
    cursor: pointer;
    background-color: #6253BD;
    color: #fff;
    border-radius: 35px;
}

.hideLogin {
    width: 130px;
    height: 55px;
    text-align: center;
    align-self: center;
    padding: 15px 5px;
    background-color: #f5f5fc;
    color: #fff;
    border-radius: 35px;
}

