.trendFood {
    display: flex;
    justify-content: center;
}

.wrapList {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.wrapFood {
    border: 2px solid #6253BD;
    border-radius: 10px;
    padding: 10px;
}

.imgTrending {
    width: 230px;
    height: 140px;
    border-radius: 10px;
}

.subtit {
    width: 200px;
    font-size: 64px;
}