.trendFood {
    display: flex;
    justify-content: center;
}

.wrapList {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.searchList {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
