.container {
    width: 75%;
    margin: 0 auto;
}

.greet {
    margin: 80px 0px;
    display: flex;
}

.titleGreet {
    flex-grow: 1;
}

.imgGreet {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgRandom {
    width: 197px;
    height: 120px;
    border-radius: 10px;
    margin: 5px 8px;
}

.firstGreet {
    font-size: 45px;
}

.secondGreet1 {
    margin-top: 35px;
    font-size: 20px;
}

.secondGreet {
    font-size: 20px;
}

.btnCheck {
    margin-top: 20px;
    display: flex;
    padding: 15px 2px;
    background: #6253BD;
    color: #fff;
    width: 120px;
    justify-content: center;
    border-radius: 20px;
    text-decoration: none;
    transition: ease-in 0.5s;
    border: 2px solid white;
}

.btnCheck:hover {
    border: 2px solid #6253BD;
    background: white;
    color: #6253BD;
}

.content {
    margin-bottom: 40px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

hr {
    width: 550px;
    border: 2px solid #6253BD !important;
    border-radius: 4px;
}

.subtitle {
    width: 400px;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.formFeed {
    display: flex;
    width: 100%;
    justify-content: center;
}

.wrapFormFeed {
    width: 85%;
    display: flex;
}

textarea { 
    width: 1200px !important;
    margin-right: 20px !important;
    resize: none !important;
    padding: 5px!important;
}

button {
    width: 120px!important;
    border-radius: 50%!important;
    border: none!important;
    background-color: #6253BD;
    color: white;   
}

