.wrapper {
    height: 100%;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.wrapSearch {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    position: relative;
}

.wrapResults {
    position: absolute;
    width: 50%;
    top: 33px;
    z-index: 9;
    justify-content: center;
    margin-left: -100px;
    background: white;
    border-radius: 5px;
}

.result {
    padding: 2px 10px;
    color: black;
}

.result:hover {
    background: #f5f5fc;
    cursor: pointer;
}

.inputSearch {
    padding: 2px 10px;
    border-radius: 20px;
    border: 2px solid black;
    width: 50%;
}

.submitSearch {
    width: 100px;
    border: none;
    background-color: #6253BD;
    color: white;
    position: relative;
    right: 100px;
    border-radius: 0px 20px 20px 0px;
    cursor: unset!important;
}